body 
  margin: 0
  padding: 0

h1, h2, h3, h4, h5,
p, ul
  margin: 0
  padding: 0 

li 
  list-style: none

a 
  outline: none
  text-decoration: none
    
img 
  vertical-align: middle




.contact-logo-layout
  position: relative

.sidebar-layout
  position: relative

.main-content-layout
  position: relative