/.vscode
/node_modules
/__memo
/__temp
/test
/test/w3images
/public/assets/dist/testView.bundle.js
/public/assets/images/test
package-lock.json
w_port_index_react_rsa
w_port_index_react_rsa.pub
aws_key_pair_wosoff.pem
public/assets/images/portfolio-2.jpg
public/assets/images/portfolio-1.jpg
public/assets/images/portfolio-1.jpg
public/assets/images/portfolio-2.jpg
public/js/app.js
src/views/index-view/style/index-main.sass
src/views/react-components/contact-window/contact-window.js
src/views/react-components/contact-window/style/contact-window.sass
src/views/react-components/contact-window-content/contact-window-content.js
src/views/react-components/contact-window-content/style/contact-window-content.sass