.align-children-at-sidebar-content-work
  display: flex
  flex-flow: column
  align-items: center

.sidebar-content-work
  width: 100%

.layout-work-portfolio-1
  width: 80%

.layout-work-portfolio-2
  width: 80%
  
