.contact-logo
  width: 40%
  position: relative
  
  cursor: pointer

  margin-left: -100vw
  transition: margin-left 1s ease-in

  display: flex
  justify-content: start
  
  img 
    width: 100%
  
.show-contact-logo
  margin-left: 0

@media screen and (min-width: 700px)
  .contact-logo
    width: 30%
      
@media screen and (min-width: 1200px) 
  .contact-logo
    width: 50%
