$btn-ransitionTimea: 0.5s

.sidebar-tab 
  display: flex
  flex-flow: column wrap

  > div
    height: 33.3vh
    border-bottom: 0.1rem solid  rgb(255, 255, 255)
    border-right: 0.1rem solid  rgb(255, 255, 255)
    box-sizing: border-box

    background-color: rgb(26, 30, 61)
    color: rgb(150, 146, 146)
    text-align: center
    line-height: 33.3vh
    cursor: pointer

    transition: all $btn-ransitionTimea

    z-index: 1

    &:hover
      opacity: 0.5
    