<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="language-selection">
      <form action="/index" method="POST">
        <button type="submit" name="lang" value="EN"><a href="/home">English</a></button>
        <button type="submit" name="lang" value="KOR">한국어</button>
        <button type="submit" name="lang" value="CHI">しおり</button>
      </form>
    </div>
    <div id='root'></div>
    <script src="public/assets/dist/indexView.bundle.js"></script>
  </body>
</html>