.zoom-controller
  display: none

  width: 94vw
  height: 94vh

  position: fixed
  z-index: 5
  top: 3vh
  left: 3vw
  
  background-color: rgba(0, 0, 0, 0.7)

.show-zoom-in-controller
  display: block

.zoom-in-frame
  width: 100%
  height: 100%

  display: flex
  flex-flow: column 
  justify-content: center
  align-items: center

@media only screen and (min-width: 300px) 
 .zoom-canvas
    transform: scale(0.5, 0.5)

@media only screen and (min-width: 700px) 
  .zoom-canvas
    transform: scale(0.7, 0.7)

@media only screen and (min-width: 800px) 
  .zoom-canvas
    transform: scale(0.6, 0.6)

@media only screen and (min-width: 1000px)
  .zoom-canvas
    transform: scale(1.5, 1.5)

@media only screen and (min-width: 1300px) 
  .zoom-canvas
    transform: scale(1, 1)