.sidebar-content-tech
  width: 100%

  display: flex
  flex-flow: column

  .tech-design-layout
    width: 100%
    height: 30vh

    border: 1px solid black  //test

  .tech-frontend-layout
    width: 100%
    height: 40vh

    border: 1px solid black //test

  .tech-backend-layout
    width: 100%
    height: 30vh

    border: 1px solid black //test